{% extends "template.html" %}


{% block main %}

<form class = "ai" action="/register" method="post">
    <div>
        <input autocomplete="off" autofocus class="ai" id="user" name="username" placeholder="Username" type="text">
    </div>
    <div>
        <input class="ai" id="pass" name="password" placeholder="Password" type="password">
    </div>
    <div class="mb-3">
        <input class="ai" id="password" name="confirmation" placeholder="Password" type="password">
    </div>
    <button type="submit">Register</button>
</form>
{% endblock %}